.content {
	background: #02f5cc;

	img {
		width: 100%;
		max-width: 100%;
		height: 250px;
	}

	.text__wrap {
		padding: 20px;
		font-size: 19px;
		font-weight: 700;
	}

	.text__p {
		padding: 10px 0;
		font-size: 16px;
		font-weight: 500;
	}
}