.app-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        'h h'
        'n c';
    grid-template-rows: 80px 1fr;
    grid-template-columns: 2fr 10fr;
}

.header {
    background: #f73100;
    grid-area: h;
}
.header img {
    width: 100%;
    max-width: 80px;
    height: auto;
}

.nav {
    background: #02f7e3;
    grid-area: n;
}

.content {
    background: #021af3;
    grid-area: c;
}

.content div img {
    width: 100%;
    max-width: 100%;
    height: 200px;
}
